<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food-card</title>
    <link rel="stylesheet" href="../css/foods-card.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

</head>

<body>
    <div class="containers">
        <div class="header">
            <div class="titleHeader">Foods</div>
            <div class="contentHeader">Search, consult and add new foods to the system</div>
        </div>
        <div class="form">
            <input type="text" class="search-food">
            <div class="filter-container">
                <div class="btn-filter"><img src="../assets/images/Border (1).png" alt=""></div>
                <select class="category-filter">
                    <option value="Nutrient" selected disabled>Sort by nutrient</option>
                </select>
                </option>
            </div>
            <select class="category-filter">
                <option value="Category" selected disabled>Category</option>
            </select>
        </div>
        <div class="food-list">
            <div class="food-element">
                <div class="title-food">
                    <div class="cc">
                        <div class="title">Apples, cooking, stewed with sugar, flesh only</div>
                        <span class="content">McCance and Widdowson's</span>
                    </div>
                    <div class="tmop"></div>
                </div>
                <div class="information-food">
                    <div class="food-information">
                        <div class="nutritional-value">151 kcal</div>
                        <div class="energy-type">Energy</div>
                    </div>
                    <div class="food-information">
                        <div class="nutritional-value">151 kcal</div>
                        <div class="energy-type">Energy</div>
                    </div>
                    <div class="food-information">
                        <div class="nutritional-value">151 kcal</div>
                        <div class="energy-type">Energy</div>
                    </div>
                    <div class="food-information">
                        <div class="nutritional-value">151 kcal</div>
                        <div class="energy-type">Energy</div>
                    </div>
                </div>
            </div>
            <div class="food-element">
                <div class="title-food">
                    <div class="cc">
                        <div class="title">Apples, cooking, stewed with sugar, flesh only</div>
                        <span class="content">McCance and Widdowson's</span>
                    </div>
                    <div class="tmop"></div>
                </div>
                <div class="information-food">
                    <div class="food-information">
                        <div class="nutritional-value">151 kcal</div>
                        <div class="energy-type">Energy</div>
                    </div>
                    <div class="food-information">
                        <div class="nutritional-value">0 g</div>
                        <div class="energy-type">Fat</div>
                    </div>
                    <div class="food-information">
                        <div class="nutritional-value">21 g</div>
                        <div class="energy-type">Carbohydrate</div>
                    </div>
                    <div class="food-information">
                        <div class="nutritional-value">10 g</div>
                        <div class="energy-type">Protein</div>
                    </div>
                </div>
            </div>

            <div class="food-element">
                <div class="btn-create">
                    <div><img src="../assets/images/create.png" alt=""></div>
                    <span>Create food</span>
                </div>
            </div>
            <!-- dfasdfdsaf -->
        </div>
        <div class="pagination">
            <button class="prev"></button>
            <button class="page">1</button>
            <span class="space">...</span>
            <button class="next"></button>
        </div>
    </div>

    <script src="../js/foods-card.js"></script>
</body>

</html>