<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add recipe</title>
    <link rel="stylesheet" href="..//css/recipe-infor.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">


</head>

<body>
    <div class="add-container">
        <div class="top">
            <div class="box">
                <div class="recipe-represents">
                    <div class="recipe-imgs"></div>
                    <div class="community-recipess">
                        <div class="logo-recipes"></div>
                        <div class="community-contents">Community Recipes</div>
                    </div>
                    <div class="typeOfFoods">
                        <div class="typeOfFood-imgs"></div>
                        <div class="typeOfFood-contents">Vegatarian dishes</div>
                    </div>
                    <div class="like-containers">
                        <div class="like-imgs">favorite_border</div>
                        <div class="quantitys">37</div>
                    </div>
                </div>
                <div class="favorite-containers">
                    <div class="favorite-logos"></div>
                    <div class="favorite-titles">Add to favourite</div>
                </div>
            </div>
            <div class="basic-information">
                <div class="header">
                    <div class="title">Basic information</div>
                    <div class="content">Check and edit recipe's basic information</div>
                </div>
                <div class="basicInfor-list">
                    <div class="basicInfor-element">
                        <div class="element-name">Name</div>
                        <div class="element-content">Turmeric Roasted Cauliflower Salad (lowfodmap)</div>
                    </div>
                    <div class="basicInfor-element">
                        <div class="element-name">Description</div>
                        <div class="element-content">Our roasted cauliflower salad with turmeric is low in calories and
                            packed with punchy flavor. Turmeric
                            adds lovely color and flavor to this easy vegan-friendly recipe</div>
                    </div>
                    <div class="basicInfor-element">
                        <div class="element-name">Author</div>
                        <div class="element-content">Joana Jardim</div>
                    </div>
                    <div class="basicInfor-element">
                        <div class="element-name">Total time</div>
                        <div class="element-content">00:40</div>
                    </div>
                    <div class="basicInfor-element">
                        <div class="element-name">Preparation time</div>
                        <div class="element-content">00:40</div>
                    </div>
                    <div class="basicInfor-element">
                        <div class="element-name">Final weight</div>
                        <div class="element-content">978.8 grams</div>
                    </div>
                    <div class="basicInfor-element">
                        <div class="element-name">Portions</div>
                        <div class="element-content">4</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="creation-container">
            <div class="creation-title">Creation</div>
            <div class="creation-content">Create the recipe and choose the ingredients</div>
        </div>
        <div class="bottom">
            <div class="box1">
                <div class="ingredients-container">
                    <div class="header">
                        <div class="title">Ingredients</div>
                        <div class="content">Search and add ingredients to the recipe</div>
                    </div>
                    <div class="ingredients-list">
                        <div class="ingredients-element">
                            <div class="content">1 chopped cup (1/2" pieces) of cauliflower, raw (107 g)</div>
                        </div>
                        <div class="ingredients-element">
                            <div class="content">1 tsp of spices, turmeric, ground (3 g)</div>
                        </div>
                        <div class="ingredients-element">
                            <div class="content">1 tbsp of olive oil (14 g)</div>
                        </div>
                        <div class="ingredients-element">
                            <div class="content">100 grams of rice, brown, medium-grain, raw</div>
                        </div>
                        <div class="ingredients-element">
                            <div class="content">150 grams of edamame, frozen, unprepared</div>
                        </div>
                        <div class="ingredients-element">
                            <div class="content">1 cup, sections of lemons, raw, without peel (212 g)</div>
                        </div>
                        <div class="ingredients-element">
                            <div class="content">1 cup slices of cucumber, with peel, raw (104 g)</div>
                        </div>
                        <div class="ingredients-element">
                            <div class="content">4 tbsps of parsley, fresh (15 g)</div>
                        </div>
                        <div class="ingredients-element">
                            <div class="content">50 grams of nuts, cashew nuts, oil roasted, with salt added</div>
                        </div>
                        <div class="ingredients-element">
                            <div class="content">5 tbsps of vinegar, balsamic (80 g)</div>
                        </div>
                        <div class="ingredients-element">
                            <div class="content">4 tbsps of soy sauce made from soy (tamari) (72 g)</div>
                        </div>
                        <div class="ingredients-element">
                            <div class="content">1 tablespoon of oil, sesame, salad or cooking (14 g)</div>
                        </div>
                        <div class="ingredients-element">
                            <div class="content">1 tbsp of sauce, fish, ready-to-serve (18 g)</div>
                        </div>
                        <div class="ingredients-element">
                            <div class="content">2 tbsps of syrups, maple (40 g)</div>
                        </div>
                    </div>
                </div>
                <div class="cooking-method">
                    <div class="header">
                        <div class="title">Cooking method</div>
                        <div class="content">Give instructions to prepare this recipe</div>
                    </div>
                    <div class="method-list">
                        <div class="method-element">
                            <div class="step">1</div>
                            <div class="text">dsdsf</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="box2">
                <div class="global-analysis">
                    <div class="header">
                        <div class="title">Global analysis per portion</div>
                        <div class="content">Energy, macronutrients and fiber distribution</div>
                    </div>

                    <div class="energy-container">
                        <div class="container-title">Energy</div>
                        <div class="container-value">
                            <div class="value">351</div>
                            <div class="type">kcal</div>
                        </div>
                    </div>

                    <div class="container-cricle">
                        <div class="cricle-element">
                            <div class="cricle">
                                <div class="img1">
                                    <div class="value">16g</div>
                                </div>
                            </div>
                            <div class="crile-type">Fat</div>
                        </div>
                        <div class="cricle-element">
                            <div class="cricle">
                                <div class="img2">
                                    <div class="value">45g</div>
                                </div>
                            </div>
                            <div class="crile-type">Carbohydrate</div>
                        </div>
                        <div class="cricle-element">
                            <div class="cricle">
                                <div class="img3">
                                    <div class="value">12g</div>
                                </div>
                            </div>
                            <div class="crile-type">Protein</div>
                        </div>
                        <div class="cricle-element">
                            <div class="cricle">
                                <div class="img4">
                                    <div class="value">6g</div>
                                </div>
                            </div>
                            <div class="crile-type">Fiber</div>
                        </div>
                    </div>

                </div>

                <div class="Macronutrients-per-portion">
                    <div class="header">
                        <div class="title">Macronutrients per portion</div>
                        <div class="content">Macronutrients distribution of the recipe</div>
                    </div>
                    <div class="chart-wrapper">
                        <canvas id="nutritional-value-chart" class="char"></canvas>
                    </div>
                </div>

                <div class="Micronutrients-per-portion">
                    <div class="header">
                        <div class="title">Micronutrients per portion</div>
                        <div class="content">Micronutrients distribution of the recipe</div>
                    </div>
                    <div class="Micronutrients-list">
                        <div class="element">
                            <div class="name">Sodium</div>
                            <div class="value-box">
                                <div class="value">1418</div>
                                <div class="mass">mg</div>
                            </div>
                        </div>
                        <div class="element">
                            <div class="name">Sodium</div>
                            <div class="value-box">
                                <div class="value">1418</div>
                                <div class="mass">mg</div>
                            </div>
                        </div>
                        <div class="element">
                            <div class="name">Sodium</div>
                            <div class="value-box">
                                <div class="value">1418</div>
                                <div class="mass">mg</div>
                            </div>
                        </div>
                        <div class="element">
                            <div class="name">Sodium</div>
                            <div class="value-box">
                                <div class="value">1418</div>
                                <div class="mass">mg</div>
                            </div>
                        </div>
                        <div class="element">
                            <div class="name">Sodium</div>
                            <div class="value-box">
                                <div class="value">1418</div>
                                <div class="mass">mg</div>
                            </div>
                        </div>
                        <div class="element">
                            <div class="name">Sodium</div>
                            <div class="value-box">
                                <div class="value">1418</div>
                                <div class="mass">mg</div>
                            </div>
                        </div>
                        <div class="element">
                            <div class="name">Sodium</div>
                            <div class="value-box">
                                <div class="value">1418</div>
                                <div class="mass">mg</div>
                            </div>
                        </div>
                        <div class="element">
                            <div class="name">Sodium</div>
                            <div class="value-box">
                                <div class="value">1418</div>
                                <div class="mass">mg</div>
                            </div>
                        </div>
                        <div class="element">
                            <div class="name">Sodium</div>
                            <div class="value-box">
                                <div class="value">1418</div>
                                <div class="mass">mg</div>
                            </div>
                        </div>
                        <div class="element">
                            <div class="name">Sodium</div>
                            <div class="value-box">
                                <div class="value">1418</div>
                                <div class="mass">mg</div>
                            </div>
                        </div>
                        <div class="element">
                            <div class="name">Sodium</div>
                            <div class="value-box">
                                <div class="value">1418</div>
                                <div class="mass">mg</div>
                            </div>
                        </div>
                        <div class="element">
                            <div class="name">Sodium</div>
                            <div class="value-box">
                                <div class="value">1418</div>
                                <div class="mass">mg</div>
                            </div>
                        </div>
                        <div class="element">
                            <div class="name">Sodium</div>
                            <div class="value-box">
                                <div class="value">1418</div>
                                <div class="mass">mg</div>
                            </div>
                        </div>
                        <div class="element">
                            <div class="name">Sodium</div>
                            <div class="value-box">
                                <div class="value">1418</div>
                                <div class="mass">mg</div>
                            </div>
                        </div>
                        <div class="element">
                            <div class="name">Sodium</div>
                            <div class="value-box">
                                <div class="value">1418</div>
                                <div class="mass">mg</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>

</body>

</html>