<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add recipe</title>
    <link rel="stylesheet" href="..//css/recipe-infor.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

</head>

<body>
    <div class="add-container">
        <div class="top">
            <div class="box">
                <div class="recipe-represents">
                    <div class="recipe-imgss"></div>
                    <div class="community-myrecipes">
                        <div class="logo-myrecipes">border_color</div>
                        <div class="community-myrecipe">My recipes</div>
                    </div>
                    <div class="typeOfFoods">
                        <div class="typeOfFood-imgs"></div>
                        <div class="typeOfFood-contents">New category</div>
                    </div>
                    <div class="like-containers">
                        <div class="like-imgs">favorite_border</div>
                        <div class="quantitys">0</div>
                    </div>
                </div>
            </div>
            <div class="boxx">
                <div class="publish-recipe">
                    <div class="header">
                        <divc class="title">Publish recipe</divc>
                        <div class="content">Publish your recipe on your website or share it with the Nutrium community
                        </div>
                    </div>
                    <div class="publish-btn">Publish</div>
                </div>
                <div class="basic-information">
                    <div class="header">
                        <div class="title">Basic information</div>
                        <div class="content">Check and edit recipe's basic information</div>
                    </div>
                    <div class="basicInfor-list">
                        <div class="basicInfor-element">
                            <div class="element-name">Name</div>
                            <input class="element-content">
                            <div class="edit-btn">edit</div>
                        </div>
                        <div class="basicInfor-element">
                            <div class="element-name">Description</div>
                            <input class="element-content">
                            <div class="edit-btn">edit</div>

                        </div>
                        <div class="basicInfor-element">
                            <div class="element-name">Author</div>
                            <input class="element-content">
                            <div class="edit-btn">edit</div>

                        </div>
                        <div class="basicInfor-element">
                            <div class="element-name">Total time</div>
                            <input class="element-content">
                            <div class="edit-btn">edit</div>

                        </div>
                        <div class="basicInfor-element">
                            <div class="element-name">Preparation time</div>
                            <input class="element-content">
                            <div class="edit-btn">edit</div>

                        </div>
                        <div class="basicInfor-element">
                            <div class="element-name">Final weight</div>
                            <input class="element-content">
                            <div class="edit-btn">edit</div>

                        </div>
                        <div class="basicInfor-element">
                            <div class="element-name">Portions</div>
                            <input class="element-content">
                            <div class="edit-btn">edit</div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="creation-container">
            <div class="creation-title">Creation</div>
            <div class="creation-content">Create the recipe and choose the ingredients</div>
        </div>
        <div class="bottom">
            <div class="box1">
                <div class="ingredients-container">
                    <div class="header">
                        <div class="title">Ingredients</div>
                        <div class="content">Search and add ingredients to the recipe</div>
                    </div>
                    <div class="ingredients-list">
                        <div class="opooo">
                            <!-- <div class="ingredients-elements">
                                <div class="element-box">
                                    <div class="serving">1 serving of babyfood, water, bottled, GERBER, without added
                                        fluoride (113 g)</div>
                                    <div class="add-box">
                                        <div class="btn-addfood">add</div>
                                        <div class="addContent">Add new food equivalent</div>
                                    </div>
                                </div>
                                <div class="remove-btn">delete</div>
                            </div> -->
                        </div>
                        <div class="bosss">
                            <div class="bbbbb">
                                <div class="bossss">
                                    <div class="ttt">keyboard_arrow_down</div>
                                    <div class="testsss">Add new ingredient</div>
                                </div>
                            </div>
                            <div class="addNewIngredient">
                                <div class="search-container">
                                    <input class="search-food" placeholder="Search for Nutrient" type="text">
                                    <div class="filter-container">
                                        <div class="btn-filter"><img src="../assets/images/Border (1).png" alt=""></div>
                                        <select class="category-filter">
                                            <option value="Nutrient" selected disabled>Sort by nutrient</option>
                                        </select>
                                        </option>
                                    </div>
                                    <select class="category-filter">
                                        <option value="Category" selected disabled>All databases</option>
                                    </select>
                                </div>
                                <div class="nutritional-infor">
                                    <div class="header-title">
                                        <div class="Title">Nutritional Information</div>
                                        <div class="Type-container">
                                            <div class="Type">Energy</div>
                                            <div class="Type">Fat</div>
                                            <div class="Type">Carboh…</div>
                                            <div class="Type">Protein</div>
                                        </div>
                                        <div class="b"></div>
                                    </div>
                                    <div class="nutritional-list">
                                        <div class="ntri-ele">
                                            <div class="content-boxx">
                                                <div class="title-ntir">
                                                    <div class="ntri-header">
                                                        <div class="ntri-title">Keto 90 Second Bread</div>
                                                        <div class="ntri-content">Community Recipes</div>
                                                    </div>
                                                    <div class="mass-gam">
                                                        <div class="st">1</div>
                                                        <div class="st-text">portion (87 grams)</div>
                                                        <input class="gam" placeholder="0.00" type="text">
                                                    </div>
                                                </div>
                                                <div class="value-box">
                                                    <div class="value-ele">
                                                        <div class="Value">301</div>
                                                        <div class="Types">kcal</div>
                                                    </div>
                                                    <div class="value-ele">
                                                        <div class="Value">27</div>
                                                        <div class="Types">g</div>
                                                    </div>
                                                    <div class="value-ele">
                                                        <div class="Value">6</div>
                                                        <div class="Types">g</div>
                                                    </div>
                                                    <div class="value-ele">
                                                        <div class="Value">11</div>
                                                        <div class="Types">g</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="btn-add-ntri">add</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="paginations">
                                    <button class="prevs"></button>
                                    <button class="pages">1</button>
                                    <span class="spaces">...</span>
                                    <button class="nexts"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cooking-method">
                    <div class="header">
                        <div class="title">Cooking method</div>
                        <div class="content">Give instructions to prepare this recipe</div>
                    </div>
                    <div class="method-list">
                        <div class="method-element">
                            <div class="step">1</div>
                            <input class="texts" placeholder="Add new cooking method">
                            <div class="edit-btns">edit</div>
                        </div>
                        <!-- <div class="method-element">
                            <div class="step">2</div>
                            <input class="texts" placeholder="Add new cooking method">
                            <div class="edit-btns">edit</div>
                        </div> -->
                    </div>
                </div>
            </div>

            <div class="box2">
                <div class="global-analysis">
                    <div class="header">
                        <div class="title">Global analysis per portion</div>
                        <div class="content">Energy, macronutrients and fiber distribution</div>
                    </div>

                    <div class="energy-container">
                        <div class="container-title">Energy</div>
                        <div class="container-value">
                            <div class="value">351</div>
                            <div class="type">kcal</div>
                        </div>
                    </div>
                    <div class="tag">
                        <div class="tag-img"></div>
                    </div>

                    <div class="container-cricle">
                        <div class="cricle-element">
                            <div class="cricle">
                                <div class="img1">
                                    <div class="value">16g</div>
                                </div>
                            </div>
                            <div class="crile-type">Fat</div>
                        </div>
                        <div class="cricle-element">
                            <div class="cricle">
                                <div class="img2">
                                    <div class="value">45g</div>
                                </div>
                            </div>
                            <div class="crile-type">Carbohydrate</div>
                        </div>
                        <div class="cricle-element">
                            <div class="cricle">
                                <div class="img3">
                                    <div class="value">12g</div>
                                </div>
                            </div>
                            <div class="crile-type">Protein</div>
                        </div>
                        <div class="cricle-element">
                            <div class="cricle">
                                <div class="img4">
                                    <div class="value">6g</div>
                                </div>
                            </div>
                            <div class="crile-type">Fiber</div>
                        </div>
                    </div>

                </div>

                <div class="Macronutrients-per-portion">
                    <div class="header">
                        <div class="title">Macronutrients per portion</div>
                        <div class="content">Macronutrients distribution of the recipe</div>
                    </div>
                    <div class="chart-wrapper">
                        <canvas id="nutritional-value-chart" class="char"></canvas>
                    </div>
                </div>

                <div class="Micronutrients-per-portion">
                    <div class="header">
                        <div class="title">Micronutrients per portion</div>
                        <div class="content">Micronutrients distribution of the recipe</div>
                    </div>
                    <div class="Micronutrients-list">
                        <div class="element">
                            <div class="name">Sodium</div>
                            <div class="value-box">
                                <div class="value">1418</div>
                                <div class="mass">mg</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>

</body>

</html>