* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Roboto;
}

body {
    background-color: #F8F9FA;
}

.containerss {
    max-width: 960px;
    margin: 0 auto;
    padding: 40px 20px;
}

h1 {
    color: #676A6C;
    text-align: center;
    font-family: "Open Sans";
    font-size: 28.6px;
    font-style: normal;
    font-weight: 400;
    line-height: 40.86px;
    margin-bottom: 20px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.avatar-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.avatar-wrapper {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.avatar-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.avatar-wrapper input[type="file"] {
    position: absolute;
    inset: 0;
    opacity: 0;
    cursor: pointer;
}

.icon {
    position: absolute;
    right: 76px;
    top: 160px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #bcc3cc;
    display: flex;
    align-items: center;
    justify-content: center;
}

#icon {
    font-size: 20px;
}

.note {
    font-size: 13px;
    margin-top: 10px;
    color: #9ca3af;
}

.form-box {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

label {
    color: #676A6C;
    font-family: "Open Sans";
    font-size: 14.3px;
    font-style: normal;
    font-weight: 400;
    line-height: 21.45px;
    /* 150% */
}

input[type="text"],
input[type="email"],
input[type="date"] {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    font-size: 14px;
    border: 1px solid #EEE;
    background: #FAFAFB;
    color: #676A6C;
    font-family: "Open Sans";
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

input[disabled] {
    border-radius: 1px;
    background: #EEE;
}

.button-row {
    margin-top: 20px;
    display: flex;
    gap: 15px;
}

button {
    padding: 10px 20px;
    font-size: 14px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: #676A6C;
    text-align: center;
    font-family: "Open Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

#updatePassword {
    border-radius: 3px;
    border: 1px solid #EEE;
    background: #FFF;
}

#saveInfo {
    color: #FFF;
    text-align: center;
    font-family: "Open Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 142.857% */
    border-radius: 3px;
    border: 1px solid #1AB394;
    background: #1AB394;
}

@media (max-width: 768px) {
    .form-grid {
        grid-template-columns: 1fr;
    }

    .flex {
        flex-direction: column;
    }
}